@using Humanizer;

@model LoginModel;

@inject IViewLocalizer _localizer;

@{
    ViewData["Title"] = _localizer["Login"];
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/Auth/Login.css" />
}

@section Scripts {
    <script src="~/js/Auth/Login.js"></script>
}

<div id="form-div" class="w-100 m-auto form-signin @{if (ViewBag.IsLoginFailed ?? false) {<text>form-invalid</text>}}">
    <h1 class="h3 mb-3 fw-normal">@_localizer["PlsSignIn"]</h1>

    <form id="signin-form" asp-controller="Auth" asp-action="Login" asp-route-r="@ViewBag.ReturnUrl" asp-antiforgery="true">

        <!-- username input -->
        <div class="form-floating">
            <input type="text" class="form-control" id="nameInput" value="@Model?.Username" asp-for="Username" placeholder="ExamplePerson" autocomplete="on" required />
            <label for="nameInput">@_localizer["UsernameLabel"]</label>
        </div>

        <!-- Passwd input -->
        <div class="form-floating">  
            <input type="password" class="form-control" id="passwdInput" asp-for="Password" placeholder="Password123" autocomplete="on" required />
            <label for="passwdInput">@_localizer["PasswdLabel"]</label>
        </div>

        @if (ViewBag.IsLoginFailed ?? false)
        {
            <div class="invalid-feedback d-block">
                @_localizer["InvalidLoginData"]
            </div>
        }
        else if (ViewBag.LockOutEnd is DateTimeOffset dateTimeOffset)
        {
            <div class="invalid-feedback d-block">
                @_localizer["UserLocked", dateTimeOffset.Humanize()]
            </div>
        }
        else if (ViewBag.IsNotAllowed ?? false)
        {
            <div class="invalid-feedback d-block">
                @_localizer["NotAllowed"]
            </div>
        }
        else if (ViewBag.IsInvalidState ?? false)
        {
            <div class="invalid-feedback d-block">
                @_localizer["StateInvalid"]
            </div>
        }

        <!-- Submit -->
        <button class="w-100 mt-3 btn btn-lg btn-primary" id="form-submit" type="submit">@_localizer["Login"]</button>
    </form>
</div>