@using System.Text
@using Humanizer
@using Microsoft.Extensions.Options
@using WebSchoolPlanner.Options

@model Validate2faModel;

@inject IViewLocalizer _localizer;
@inject IOptions<TotpAuthenticationOptions> _options;

@{
    ViewData["Title"] = _localizer["Title"];
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/Auth/Validate2fa.css" />
}

<div id="form-div" class="text-center d-flex flex-column justify-content-center w-100 m-auto form-validate @{if (ViewBag.IsLoginFailed ?? false) {<text>form-invalid</text>}}">

    <h1 class="h3 mb-3 fw-normal">@_localizer["Title"]</h1>
    <img src="~/img/phone_iphone.svg" height="52"/>
    <p class="fw-light">
        @_localizer["2faSignIn"]
    </p>

    <form class="@{if (ViewBag.IsInvalid == true) {<text>form-invalid</text>}}" id="signin-form" asp-controller="Auth" asp-action="Validate2fa" asp-route-r="@ViewBag.ReturnUrl" asp-antiforgery="true">

        <!-- code input -->
        <div class="form-floating">
            @{
                StringBuilder placeHolderBuilder = new();
                for (int i = 1; i <= _options.Value.DigitsCount; i++)
                    placeHolderBuilder.Append('X');
            }
            <input type="text" class="form-control" id="codeInput" asp-for="Code" placeholder="" autocomplete="off" required />
            <label for="codeInput">@_localizer["codeLabel", _options.Value.DigitsCount]</label>
        </div>

        @if (ViewBag.IsLoginFailed ?? false)
        {
            <div class="invalid-feedback d-block">
                @_localizer["InvalidData"]
            </div>
        }
        else if (ViewBag.LockOutEnd is DateTimeOffset dateTimeOffset)
        {
            <div class="invalid-feedback d-block">
                @_localizer["UserLocked", dateTimeOffset.Humanize()]
            </div>
        }
        else if (ViewBag.IsInvalidState ?? false)
        {
            <div class="invalid-feedback d-block">
                @_localizer["StateInvalid"]
            </div>
        }

        <!-- Remember browser -->
        <div class="checkbox mt-2">
            <input type="checkbox" class="form-check-input" id="rememberMeInput" asp-for="RememberMe" />
            <label class="form-check-label" for="rememberMeInput">@_localizer["RememberMeLabel"]</label>
        </div>

        <!-- Submit -->
        <button class="w-100 mt-3 btn btn-lg btn-primary" id="form-submit" type="submit">@_localizer["Submit"]</button>
    </form>
</div>