@using Microsoft.Extensions.Options;
@using Newtonsoft.Json;
@using System.Text
@using WebSchoolPlanner.Authorization

@inject IViewLocalizer _localizer;
@inject UserManager<User> _userManager;
@inject SignInManager<User> _signInManager;
@inject IConfiguration _configuration;
@inject IOptions<RequestLocalizationOptions> _localizationOptions;

@{
    bool isSignIn = _signInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="@ViewBag.UICulture" dir="ltr" data-bs-theme="@ViewBag.Theme.ToString().ToLower()">
    <head>
        <meta charset="utf-8">

        <title>@ViewData["Title"] - @_configuration[AppInfoConfigurationPrefix + "Name"]</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="@_localizer["AppDescription"]" />
        <meta name="author" content="@_configuration[AppInfoConfigurationPrefix + "Author"]" />
        <meta name="keywords" content="@_configuration[AppInfoConfigurationPrefix + "Keywords"]" />

        <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/Shared/_Layout.css" />
        @await RenderSectionAsync("Stylesheets", false)

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" integrity="sha256-WCzAhd2P6gRJF9Hv3oOOd+hFJi/QJbv+Azn4CGB8gfY=" crossorigin="anonymous"></script>
        @await RenderSectionAsync("HeadScripts", false)
        <script src="~/js/Shared/_Layout.js" async></script>
    </head>
    <body class="vh-100 d-flex @{if (!isSignIn) {<text>flex-column</text>}} bg-body-tertiary">

        <!-- error box -->
        <div class="fixed-top mx-5 mt-2" id="errorBoxPlaceHolder"></div>

    @{
        bool IsItemSelected(string controller, string action)
            {
                string currentController = (string)Context.GetRouteValue("controller")!;
                string currentAction = (string)Context.GetRouteValue("action")!;
                return controller == currentController && action == currentAction;
            }
    }
    @if (isSignIn)
    {
        <!-- Sidebar -->
        <aside class="position-fixed p-3 bg-body-secondary d-flex flex-column vh-100 sidebar">

            <!-- title link -->
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none title-header">
                <img class="d-inline-block align-text-top" src="~/img/school.svg" height="43" width="43" />
                <span class="fs-4">@_configuration[AppInfoConfigurationPrefix + "Name"]</span>
            </a>
            <hr>

            <!-- options -->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link @{if (IsItemSelected("Dashboard", "Index")) {<text>active</text>}}" asp-controller="Dashboard" asp-action="Index">
                        <img src="~/img/dashboard.svg" height="24" width="24" />
                        @_localizer["Dashboard"]
                    </a>
                </li>
            </ul>
            <hr>

            <div class="dropdown">
                <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/api/v1/account/image" class="rounded-circle me-2" height="36" width="36" onerror="this.src='/img/account_circle.svg'" />
                    <strong>@_userManager.GetUserName(User)</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Index">
                            <img src="~/img/person.svg" height="20" width="20" />
                            @_localizer["Account"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Settings">
                            <img src="~/img/settings.svg" height="20" width="20" />
                            @_localizer["Settings"]
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
                            <img src="~/img/logout.png" height="20" width="20" />
                            @_localizer["SignOut"]
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    }
    else
    {
        <!-- Navbar -->
        <nav class="sticky-top navbar navbar-expand-sm navbar-content bg-body-secondary">
            <div class="container-fluid">

                <!-- Dashboard link -->
                <a class="navbar-brand d-flex title-header" asp-controller="Dashboard" asp-action="Index">
                    <img class="d-inline-block align-text-top" src="~/img/school.svg" height="43" width="43" />
                    <h4>@_configuration[AppInfoConfigurationPrefix + "Name"]</h4>
                </a>
            </div>

            <div class="container-fluid d-flex justify-content-end">

                <!-- Signin -->
                <ul class="navbar-nav mx-1">
                    <li class="navbar-item d-flex">
                        <img src="~/img/login.svg" />
                        @if (IsItemSelected("Auth", "Login"))
                        {
                            <a class="nav-link active" aria-current="page" asp-controller="Auth" asp-action="Login">@_localizer["Signin"]</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">@_localizer["Signin"]</a>
                        }
                    </li>
                </ul>

                <ul class="navbar-nav mx-1 me-5">

                    <!-- language selection -->
                    <li class="navbar-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="me-1" src="~/img/flag.@(ViewBag.UICulture).svg" height="20" />
                                @ViewBag.UICulture.DisplayName
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @foreach (CultureInfo uiCulture in _localizationOptions.Value.SupportedUICultures!)
                                {
                                    bool isCultureSelected = uiCulture.Name == ViewBag.UICulture.Name;

                                    <li>
                                        <a class="dropdown-item @if (isCultureSelected) {<text>active</text>}" id="languageSwitch" data-culture="@uiCulture">
                                            <img class="me-1" src="~/img/flag.@(uiCulture).svg" height="20" width="28" />
                                            @uiCulture.NativeName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>

                    <!-- color theme selection -->
                    <li class="navbar-item">
                        <div class="dropdown">
                            <button id="theme-display" class="btn dropdown-toggle py-auto" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/@(ViewBag.Theme.ToString().ToLower())_mode.svg" height="20" width="20" />
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @foreach (Theme theme in Enum.GetValues<Theme>())
                                {
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center @{if (ViewBag.Theme == theme) {<text>active</text>}}" id="colorThemeSwitch" data-theme="@theme.ToString().ToLower()">
                                            <img src="~/img/@(theme.ToString().ToLower())_mode.svg" class="me-2" height="20" width="20" />
                                            @_localizer["ColorMode_" + theme.ToString()]
                                        </button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    }

        <div class="h-100 flex-grow-1 d-flex flex-column @{if (isSignIn) {<text>sidebar-main-div</text>}}">
            <main role="main" class="flex-grow-1 m-auto p-3 align-items-center">
                @RenderBody()
            </main>

            <!-- footer -->
            <footer class="flex-shrink-0 mx-3 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">
                    @{
                        // Calc the copyright holding span
                        string? coprBeginString = _configuration[AppInfoConfigurationPrefix + "CopyrightBegin"];
                        int currentYear = DateTime.UtcNow.Year;

                        int.TryParse(coprBeginString, out int coprBegin);
                        if (coprBegin <= 0)
                            coprBegin = currentYear;

                        string coprYear;
                        if (coprBegin >= currentYear)
                           coprYear = currentYear.ToString();
                        else
                            coprYear = coprBegin.ToString() + '-' + currentYear.ToString();
                    }
                    © @coprYear @_configuration[AppInfoConfigurationPrefix + "CopyrightHolder"]
                </p>

                 <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="~/img/school.svg" class="bi me-2" width="40" height="32" />
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link px-2 text-body-secondary" asp-controller="Privacy" asp-action="CookiePolicy">
                            @_localizer["CookiePolicy"]
                        </a>
                    </li>
                </ul>
            </footer>
        </div>

        <partial name="_CookieConsentPartial" />

        @await RenderSectionAsync("Scripts", false)
    </body>
</html>