@using Microsoft.Extensions.Options;

@inject IViewLocalizer _localizer;
@inject IConfiguration _configuration;
@inject IOptions<RequestLocalizationOptions> _localizationOptions;

@{
    // color theme
    string? themeCookieValue = Context.Request.Cookies[".AspNetCore.Theme"];
    switch (themeCookieValue)
    {
        case "white":
            ViewBag.Theme = Theme.White;
            break;
        case "dark":
            ViewBag.Theme = Theme.Dark;
            break;
        default:
            ViewBag.Theme = Theme.Auto;
            break;
    }

    // Theme svgs
    Dictionary<Theme, string> themeSvgs = new()
    {
        {
            Theme.Auto,
            "<svg class=\"me-2\" xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 0 24 24\"><path fill=\"var(--bs-body-color)\" d=\"M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z\" /></svg>"
        },
        {
            Theme.White,
            "<svg class=\"me-2\" xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\"><path fill=\"var(--bs-body-color)\" d=\"M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM80-440q-17 0-28.5-11.5T40-480q0-17 11.5-28.5T80-520h80q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440H80Zm720 0q-17 0-28.5-11.5T760-480q0-17 11.5-28.5T800-520h80q17 0 28.5 11.5T920-480q0 17-11.5 28.5T880-440h-80ZM480-760q-17 0-28.5-11.5T440-800v-80q0-17 11.5-28.5T480-920q17 0 28.5 11.5T520-880v80q0 17-11.5 28.5T480-760Zm0 720q-17 0-28.5-11.5T440-80v-80q0-17 11.5-28.5T480-200q17 0 28.5 11.5T520-160v80q0 17-11.5 28.5T480-40ZM226-678l-43-42q-12-11-11.5-28t11.5-29q12-12 29-12t28 12l42 43q11 12 11 28t-11 28q-11 12-27.5 11.5T226-678Zm494 495-42-43q-11-12-11-28.5t11-27.5q11-12 27.5-11.5T734-282l43 42q12 11 11.5 28T777-183q-12 12-29 12t-28-12Zm-42-495q-12-11-11.5-27.5T678-734l42-43q11-12 28-11.5t29 11.5q12 12 12 29t-12 28l-43 42q-12 11-28 11t-28-11ZM183-183q-12-12-12-29t12-28l43-42q12-11 28.5-11t27.5 11q12 11 11.5 27.5T282-226l-42 43q-11 12-28 11.5T183-183Zm297-297Z\" /></svg>"
        },
        {
            Theme.Dark,
            "<svg class=\"me-2\" xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\"><path fill=\"var(--bs-body-color)\" d=\"M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z\" /></svg>"
        }
    };
}

<!DOCTYPE html>
<html lang="@ViewBag.UICulture" dir="ltr" data-bs-theme="@ViewBag.Theme.ToString().ToLower()">
    <head>
        <meta charset="utf-8">

        <title>@ViewData["Title"] - @_configuration[AppInfoConfigurationPrefix + "Name"]</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="@_localizer["AppDescription"]" />
        <meta name="author" content="@_configuration[AppInfoConfigurationPrefix + "Author"]" />
        <meta name="keywords" content="@_configuration[AppInfoConfigurationPrefix + "Keywords"]" />

        <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/Shared/_Layout.css" />
        @RenderSection("Stylesheets", false)

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        @RenderSection("HeadScripts", false)
        <script src="~/js/Shared/_layout.js" async></script>
    </head>
    <body class="d-flex @{if (!(User.Identity?.IsAuthenticated ?? false)) {<text>flex-column</text>}} bg-body-tertiary">
        @{
            bool IsItemSelected(string controller, string action)
            {
                string currentController = (string)Context.GetRouteValue("controller")!;
                string currentAction = (string)Context.GetRouteValue("action")!;
                return controller == currentController && action == currentAction;
            }
        }
        @if (User.Identity?.IsAuthenticated ?? false)
        {
        <!-- Sidebar -->
        <aside class="sticky-top p-3 bg-body-secondary d-flex flex-column vh-100 sidebar">
            <!-- title link -->
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none title-header">
                <img class="d-inline-block align-text-top" src="~/img/school.svg" height="43" width="43" />
                <span class="fs-4">@_configuration[AppInfoConfigurationPrefix + "Name"]</span>
            </a>
            <hr>

            <!-- options -->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link @{if (IsItemSelected("Dashboard", "Index")) {<text>active</text>}}" asp-controller="Dashboard" asp-action="Index">
                        <img src="~/img/dashboard.svg" height="24" width="24" />
                        @_localizer["Dashboard"]
                    </a>
                </li>
            </ul>
            <hr>

            <div class="dropdown">
                <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/img/account.svg" class="rounded-circle me-2" height="36" width="36" />
                    <strong>@User.Identity.Name</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Index">
                            @_localizer["Account"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Settings">
                            @_localizer["Settings"]
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
                            @_localizer["SignOut"]
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        }
        else
        {
        <!-- Navbar -->
        <nav class="sticky-top navbar navbar-expand-sm navbar-content bg-body-secondary">
            <div class="container-fluid">

                <!-- Dashboard link -->
                <a class="navbar-brand d-flex title-header" asp-controller="Dashboard" asp-action="Index">
                    <img class="d-inline-block align-text-top" src="~/img/school.svg" height="43" width="43" />
                    <h4>@_configuration[AppInfoConfigurationPrefix + "Name"]</h4>
                </a>
            </div>

            <div class="container-fluid d-flex justify-content-end">

                <!-- Signin -->
                <ul class="navbar-nav mx-1">
                    <li class="navbar-item d-flex">
                        <img src="~/img/login.svg" />
                        @if (IsItemSelected("Auth", "Login"))
                        {
                            <a class="nav-link active" aria-current="page" asp-controller="Auth" asp-action="Login">@_localizer["Signin"]</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">@_localizer["Signin"]</a>
                        }
                    </li>
                </ul>

                <ul class="navbar-nav mx-1 me-5">

                    <!-- language selection -->
                    <li class="navbar-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="me-1" src="~/img/flag.@(ViewBag.UICulture).svg" height="18" />
                                @ViewBag.UICulture.DisplayName
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                @foreach (CultureInfo uiCulture in _localizationOptions.Value.SupportedUICultures!)
                                {
                                    bool isCultureSelected = uiCulture.Name == ViewBag.UICulture.Name;

                                    <li>
                                        <a class="dropdown-item @if (isCultureSelected) {<text>active</text>}" id="languageSwitch" data-culture="@uiCulture">
                                            <img class="me-1" src="~/img/flag.@(uiCulture).svg" height="15" width="18" />
                                            @uiCulture.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>

                    <!-- color theme selection -->
                    <li class="navbar-item">
                        <div class="dropdown">
                            <button id="theme-display" class="btn dropdown-toggle py-auto" data-bs-toggle="dropdown" aria-expanded="false">
                                @Html.Raw(themeSvgs[ViewBag.Theme])
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center" data-theme="auto">
                                        @Html.Raw(themeSvgs[Theme.Auto])
                                        @_localizer["ColorMode_Auto"]
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center" data-theme="white">
                                        @Html.Raw(themeSvgs[Theme.White])
                                        @_localizer["ColorMode_White"]
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center" data-theme="dark">
                                        @Html.Raw(themeSvgs[Theme.Dark])
                                        @_localizer["ColorMode_Dark"]
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        }

        <div class="d-flex flex-column main-div">
            <main role="main" class="flex-grow-1 w-100 m-auto p-3 align-items-center">
                @RenderBody()
            </main>

            <!-- footer -->
            <footer class="flex-shrink-0 mx-3 mb-2 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">
                    @{
                        // Calc the copyright holding span
                        string? coprBeginString = _configuration[AppInfoConfigurationPrefix + "CopyrightBegin"];
                        int currentYear = DateTime.UtcNow.Year;

                        int.TryParse(coprBeginString, out int coprBegin);
                        if (coprBegin <= 0)
                            coprBegin = currentYear;

                        string coprYear;
                        if (coprBegin >= currentYear)
                           coprYear = currentYear.ToString();
                        else
                            coprYear = coprBegin.ToString() + '-' + currentYear.ToString();
                    }
                    © @coprYear @_configuration[AppInfoConfigurationPrefix + "CopyrightHolder"]
                </p>

                 <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="~/img/school.svg" class="bi me-2" width="40" height="32" />
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" asp-controller="Privacy" asp-action="CookiePolicy">
                        @_localizer["CookiePolicy"]
                    </a>
                </li>
                </ul>
            </footer>
        </div>
        
        <partial name="_CookieConsentPartial" />
        @RenderSection("Scripts", false)
    </body>
</html>