@using Microsoft.Extensions.Options
@using QRCoder;
@using System.Text
@using WebSchoolPlanner.Options

@model Enable2faModel;

@inject IViewLocalizer _localizer;
@inject IOptions<TotpAuthenticationOptions> _options;

@{
    ViewData["Title"] = _localizer["Title"];

    using QRCodeData qrCodeData = (QRCodeData)ViewBag.QRCodeData;
    SvgQRCode qrCode = new(qrCodeData);
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/Account/Enable2fa.css" />
}

@section Scripts {
    <script src="~/js/Account/Enable2fa.js"></script>
}

<div class="text-center">
    <h1 class="fw-light">@_localizer["Title"]</h1>

    <p class="lead fw-light mt-4">
        @_localizer["guide"]
    </p>

    <div class="m-3">
        @Html.Raw(qrCode.GetGraphic(6))
    </div>

    <form class="m-auto form-enable @{if (ViewBag.IsInvalid == true) {<text>form-invalid</text>}}" id="codeForm" asp-controller="Account" asp-action="Enable2fa" asp-antiforgery="true">

        <!-- code input -->
        <div class="form-floating">
            @{
                StringBuilder placeHolderBuilder = new();
                for (int i = 1; i <= _options.Value.DigitsCount; i++)
                    placeHolderBuilder.Append('X');
            }
            <input type="text" class="form-control" id="codeInput" asp-for="Code" placeholder="@placeHolderBuilder.ToString()" autocomplete="off" required data-digit-count="@_options.Value.DigitsCount" />
            <label for="codeInput">@_localizer["codeLabel", _options.Value.DigitsCount]</label>
        </div>

        @if (ViewBag.IsInvalid == true)
        {
            <div class="invalid-feedback d-block">
                @_localizer["Invalid"]
            </div>
        }

        <!-- Remember browser -->
        <div class="checkbox mt-1">
            <input type="checkbox" class="form-check-input" id="rememberMeInput" asp-for="RememberMe" />
            <label class="form-check-label" for="rememberMeInput">@_localizer["RememberMeLabel"]</label>
        </div>

        <input type="hidden" asp-for="EncodedSecret" value="@Model.EncodedSecret" />

        <!-- Submit -->
        <button class="w-100 my-2 btn btn-lg btn-primary" id="form-submit" type="submit">@_localizer["Submit"]</button>
    </form>
</div>