@inject IViewLocalizer _localizer;
@inject SignInManager<User> _signInManager;
@inject UserManager<User> _userManager;

@{
    ViewData["Title"] = _localizer["Title"];

    User user = (await _userManager.GetUserAsync(User))!;
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/Account/Index.css" />
}

@section HeadScripts {
    <script type="module" src="~/js/Account/Index.js" async></script>
}

<div class="text-center">
    <h1 class="fw-light">@_localizer["Title"]</h1>

    <div class="m-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @{
                List<string> tabNames = new()
                {
                    "general",
                    "security"
                };
            }
            @foreach (string tabName in tabNames)
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link @{if (tabName == tabNames[0]) {<text>active</text>}}" id="@(tabName)-tab" data-bs-toggle="tab" data-bs-target="#@(tabName)-tab-pane"
                        type="button" role="tab" aria-controls="@(tabName)-tab-pane" aria-selected="@(tabName == tabNames[0])" data-tab-name="@tabName">
                        @_localizer[tabName]
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-5" id="presentation">
            <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
                General
            </div>
            <div class="tab-pane fade" id="security-tab-pane" role="tabpanel" aria-labelledby="security-tab" tabindex="1">

                <!-- 2FA settings -->
                <h3 class="text-start fw-light">@_localizer["MFA"]</h3>
                <hr />

                <p class="lead fw-light">
                    @_localizer["MFA_Description"]
                </p> 

                <div class="d-flex flex-wrap justify-content-center">
                    @{
                        bool appMfaEnabled = await _signInManager.IsTwoFactorEnabledAsync(user);
                        bool emailMfaEnabled = false;
                        bool mfaRecoveryEnabled = appMfaEnabled || emailMfaEnabled;
                    }

                    <!-- App auth -->
                    <div class="d-flex flex-column flex-nowrap m-4 security-item">
                        <div class="d-flex">
                            <img src="~/img/phone_iphone.svg" class="me-2" height="35" width="35" />
                            <h4 class="fw-light">@_localizer["MFA_App"]</h4>
                        </div>

                        <div class="d-flex flex-column my-2">
                            @if (appMfaEnabled)
                            {
                                <a class="btn btn-danger" asp-controller="Auth" asp-action="Validate2fa" asp-route-r="/account#security" asp-route-y="disable2fa">
                                    @_localizer["Deactivate"]
                                </a>
                                @if (await _signInManager.IsTwoFactorClientRememberedAsync(user))
                                {
                                    <a class="btn btn-secondary mt-1" asp-controller="Account" asp-action="Forget2faRemembered" asp-route-r="/account#security"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="@_localizer["MFA_Forget_Tooltip"]">
                                       @_localizer["MFA_Forget"]
                                    </a>
                                }
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-controller="Account" asp-action="Enable2fa">@_localizer["Activate"]</a>
                            }
                        </div>
                    </div>

                    <!-- Email auth -->
                    <div class="m-4 security-item">
                        Email
                    </div>

                    @{
                        int codeCount = await _userManager.CountRecoveryCodesAsync(user);
                    }
                    @if (mfaRecoveryEnabled)
                    {
                        <!-- Recovery -->
                        <div class="d-flex flex-column flex-nowrap m-4 security-item">
                            <div class="d-flex">
                                <img src="~/img/password.svg" class="me-2" height="35" width="35" />
                                <h4 class="fw-light">@_localizer["MFA_Recovery"]</h4>
                            </div>

                            <p class="text-body-secondary fw-light">
                                @_localizer["MFA_Recovery_Description"]
                            </p>

                            <div class="d-flex flex-column my-2">
                                @if (codeCount > 0)
                                {
                                    <p class="fw-light text-body-secondary">
                                        @_localizer["MFA_Recovery_Count", codeCount]
                                    </p>

                                    <a class="btn btn-primary" asp-controller="Auth" asp-action="Validate2fa" asp-route-r="/account#security" asp-route-y="create2faRecovery"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title="@_localizer["MFA_Recovery_CreateNew_Tooltip"]">
                                        @_localizer["MFA_Recovery_CreateNew"]
                                    </a>

                                    <a class="btn btn-danger mt-1" asp-controller="Auth" asp-action="Validate2fa" asp-route-r="/account#security" asp-route-y="remove2faRecovery">
                                        @_localizer["MFA_Recovery_Remove"]
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-controller="Auth" asp-action="Validate2fa" asp-route-r="/account#security" asp-route-y="create2faRecovery">
                                        @_localizer["MFA_Recovery_CreateNew"]
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>